/*by ToFran*/

body{
	background-color:#111111; 
	color:#ffffff;
	}

a{
	text-decoration: none;
}

.joinLink{
	color: #FF6600;
	float: left;
	width: 60px;
	margin-left: 25px;
}

#conteiner{
	height: auto;
	width: 550px;
	margin-left:auto;
	margin-right:auto;
}

#copyMe{
	position: relative;
	top: -41px;
	height: 18px;
	width: 65px;
	background-color: #33B5E5;
	border-radius:4px;
	opacity: 0.92;
	display: none;
	}

#copytext{
	color: #ffffff;
	margin-top: 0px;
	font-size: 12px;
	}

#arrow{
	position: relative;
	top: -64px;
	opacity: 0.92;
	display: none;
	}

.footer{
	top: 0px;
	left:180px;
	font-size: 11px;
	}

.linknota{
	color: #C2EBFF; 
	text-decoration: none;
	font-weight:bold;
	}

#textbox1{width:400px;}

#textbox2{width:445px; z-index: -1;}
